@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Noto Sans JP", sans-serif;
}
a {
  color: inherit;
}

.prod-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  height: 80px;
  margin: auto;
}
.prod-nav-head {
  font-weight: 700;
}
.prod-nav-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
.prod-nav-item {
  font-size: 12px;
  font-weight: 400;
}

.category-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  height: 80px;
  margin: auto;
}
.category-nav-items {
  display: flex;
  align-items: center;
  gap: 20px;
}
.category-nav-item {
  font-size: 12px;
  font-weight: 500;
}
.container {
  display: flex;
  width: 90%;
  margin: auto;
}
.left-filters-cont {
  width: 258px;
  height: 1648px;
  margin-right: 10px;
}
#right-products-cont {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 280px;
  max-height: 391px;
  cursor: pointer;
}
.card-top {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f7f8fa;
}
.product-label {
  background-color: white;
  padding: 0 7px;
  font-size: 12px;
  font-weight: 500;
  margin-top: 5px;
  margin-left: 9px;
}
.card-wishlist {
  margin-top: 5px;
  margin-right: 9px;
  cursor: pointer;
}
.card-wishlist > i {
  font-size: 18px;
}
.img-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 350px;
  background-color: #f1f6ff;
}
.img-cont > img {
  max-width: 72%;
  max-height: 72%;
}
.card-desc-cont {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 6px 10px 0px;
}
.brand-disp {
  font-size: 16px;
  font-weight: 500;
}
.data-product-name {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}
.price-label {
  font-size: 8px;
  font-weight: 500;
}
.disp-price {
  font-size: 14px;
  font-weight: 500;
}
@media screen and (min-width: 770px) and (max-width: 1020px) {
  #right-products-cont {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1020px) and (max-width: 1400px) {
  #right-products-cont {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 1400px) {
  #right-products-cont {
    grid-template-columns: repeat(4, 1fr);
  }
}
